<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<properties>
		<!-- culture : auto = CultureInfo.CurrentUICulture -->
		<culture>auto</culture>

	</properties>
	<!-- Castle.Windsor Components -->
	<components>
		<component id="ResourceProviderFactory"
		           service="NSoft.NFramework.StringResources.IResourceProviderFactory, NSoft.NFramework.StringResources"
		           type="NSoft.NFramework.StringResources.DefaultResourceProviderFactory, NSoft.NFramework.StringResources">
			<parameters>
				<culture>#{culture}</culture>

				<GlobalResourceProviderName>ExternalResourceProvider</GlobalResourceProviderName>
				<?if DEBUG?>
				<LocalResourceProviderName>FileResourceProvider</LocalResourceProviderName>
				<?else?>
				<LocalResourceProviderName>NHResourceProvider</LocalResourceProviderName>
				<?end?>

			</parameters>
		</component>
		
		<!-- 
			NOTE: ResourceProvider 들은 lifestyle이 꼭 Transient 또는 Transient 이어야 한다!!! 
		-->
		<component id="LocalResourceProvider"
		           service="NSoft.NFramework.StringResources.IStringResourceProvider, NSoft.NFramework.StringResources"
		           type="NSoft.NFramework.StringResources.LocalResourceProvider, NSoft.NFramework.StringResources"
		           lifestyle="Transient">
		</component>

		<component id="ExternalResourceProvider"
		           service="NSoft.NFramework.StringResources.IStringResourceProvider, NSoft.NFramework.StringResources"
		           type="NSoft.NFramework.StringResources.ExternalResourceProvider, NSoft.NFramework.StringResources"
		           lifestyle="Transient">
			<parameters>
				<assemblyName>Sample.ExtResources</assemblyName>
				<!--<resourceName>Glossary</resourceName>-->
			</parameters>
		</component>

		<component id="FileResourceProvider"
		           service="NSoft.NFramework.StringResources.IStringResourceProvider, NSoft.NFramework.StringResources"
		           type="NSoft.NFramework.StringResources.FileResourceProvider, NSoft.NFramework.StringResources"
		           lifestyle="Transient">
			<parameters>
				<assemblyName>StringResources</assemblyName>
				<!--<resourceName>StringResources.ini</resourceName>-->
				<Directory>.\ResourceFiles</Directory>
				<FileType>ini</FileType>
			</parameters>
		</component>

		<!-- ADO.NET 을 이용한 String Resource Provider -->
		<component id="AdoResourceProvider"
		           service="NSoft.NFramework.StringResources.IStringResourceProvider, NSoft.NFramework.StringResources"
		           type="NSoft.NFramework.StringResources.AdoResourceProvider, NSoft.NFramework.StringResources"
		           lifestyle="Transient">
			<parameters>
				<databaseName>Northwind</databaseName>
				<tableName>StringResources</tableName>

				<assemblyName>DEFAULT</assemblyName>
				<!--<resourceName>Glossary</resourceName>-->
			</parameters>
		</component>


		<!-- NHibernate를 이용한 String Resource Provider -->
		<component id="NHResourceProvider"
		           service="NSoft.NFramework.StringResources.IStringResourceProvider, NSoft.NFramework.StringResources"
		           type="NSoft.NFramework.StringResources.NHibernate.NHResourceProvider, NSoft.NFramework.StringResources"
		           lifestyle="Transient">
			<parameters>
				<databaseName>Northwind</databaseName>
				<!-- Application column -->
				<!--<assemblyName>DEFAULT</assemblyName>-->
				<!--<resourceName>Glossary</resourceName>-->
			</parameters>
		</component>

	</components>
</configuration>