<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<!-- Castle.Windsor Component configuration -->
	<components>

		<!-- IoC Child Container에 대한 설정 : InversionOfControl\ContainerSelectorFixture 참고 -->
		<!-- http://www.castleproject.org/container/documentation/trunk/usersguide/arrayslistsanddicts.html -->
		
		<component id="ContainerSelector" type="NSoft.NFramework.InversionOfControl.ContainerSelector, NSoft.NFramework">
			<parameters>
				<!-- Container 정보 -->
				<containers>
					<dictionary>
						<entry key="SharpBZip2">NSoft.NFramework.IoC.SharpBZip2.config</entry>
						<entry key="Deflate">NSoft.NFramework.IoC.Deflate.config</entry>
					</dictionary>
				</containers>
			</parameters>
		</component>

		<!-- Enum 값을 속성이나 인자로 가질 때 -->
		<!--
		<component id="HashProvider.SHA512" 
				   type="NSoft.NFramework.Cryptography.HashProvider, NSoft.NFramework">
			<parameters>
				<hashProviderType type="NSoft.NFramework.Cryptography.HashProviderType, NSoft.NFramework">SHA512</hashProviderType>
			</parameters>
		</component>
		-->
	</components>
</configuration>