<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<!-- Castle.Windsor Component configuration -->
	<components>

		<!-- Component에 INotifyPropertyChanged 인터페이스를 Proxy하도록 하려면 ProxyGenerator를 직접 사용해야 합니다.-->
		<component id="SimpleViewModel"
				   type="NSoft.NFramework.DynamicProxy.SimpleViewModel, NSoft.NFramework.Test">
		</component>

	</components>
</configuration>