<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<!-- Castle.Windsor Component configuration -->
	<components>

		<component id="Validator"
				   service="FluentValidation.IValidator`1[[NSoft.NFramework.Validations.Customer, NSoft.NFramework.Test]], FluentValidation"
				   type="NSoft.NFramework.Validations.CustomerValidator, NSoft.NFramework.Test">
		</component>

	</components>
</configuration>