<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<!-- Compressor Configuration for IoC / DI with Castle.Windsor -->
	<components>

		<!-- 기본으로 사용할 Compressor -->
		<component id="DefaultCompressor" 
				   service="NSoft.NFramework.Compressions.ICompressor, NSoft.NFramework" 
				   type="NSoft.NFramework.Compressions.Compressors.SharpGZipCompressor, NSoft.NFramework" />

		<!--GZip Algorithm 을 이용한 Compressor-->
		<component id="GZipCompressor" 
				   service="NSoft.NFramework.Compressions.ICompressor, NSoft.NFramework" 
				   type="NSoft.NFramework.Compressions.Compressors.GZipCompressor, NSoft.NFramework" />

		<!--Deflate Algorithm 을 이용한 Compressor-->
		<component id="DeflateCompressor" 
				   service="NSoft.NFramework.Compressions.ICompressor, NSoft.NFramework" 
				   type="NSoft.NFramework.Compressions.Compressors.DeflateCompressor, NSoft.NFramework" />

		<!--ICSharpCode.SharpZipLib BZip2 Algorithm 을 이용한 Compressor-->
		<component id="SharpBZip2Compressor" 
				   service="NSoft.NFramework.Compressions.ICompressor, NSoft.NFramework" 
				   type="NSoft.NFramework.Compressions.Compressors.SharpBZip2Compressor, NSoft.NFramework" />

		<!--ICSharpCode.SharpZipLib GZip Algorithm 을 이용한 Compressor-->
		<component id="SharpGZipCompressor" 
				   service="NSoft.NFramework.Compressions.ICompressor, NSoft.NFramework" 
				   type="NSoft.NFramework.Compressions.Compressors.SharpGZipCompressor, NSoft.NFramework" />

		<!-- 7Zip Algorithm 을 이용한 Compressor-->
		<component id="SevenZipCompressor" 
				   service="NSoft.NFramework.Compressions.ICompressor, NSoft.NFramework"
				   type="NSoft.NFramework.Compressions.Compressors.SevenZipCompressor, NSoft.NFramework" />

		<!--단순 복사만을 하는 Compressor-->
		<component id="CloneCompressor" 
				   service="NSoft.NFramework.Compressions.ICompressor, NSoft.NFramework" 
				   type="NSoft.NFramework.Compressions.Compressors.CloneCompressor, NSoft.NFramework" />

	</components>
</configuration>