<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
		</sectionGroup>
	</configSections>

	<castle>
		<include uri="file://IoC.JobScheduler.config"/>
	</castle>

	<nlog autoReload="true">
		<include file="logging.nlog.xml"/>
	</nlog>

	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
				<arg key="showLogName" value="true"/>
				<arg key="showDataTime" value="true"/>
				<arg key="level" value="DEBUG"/>
				<arg key="dateTimeFormat" value="yyyy-mm-dd HH:mm:ss:ffff"/>
			</factoryAdapter>
		</logging>
	</common>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- Castle Version 변경에 따라 -->
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- NHibernate -->
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4"/>
				<bindingRedirect oldVersion="1.0.0.0-3.2.1.4000" newVersion="3.2.1.4000"/>
			</dependentAssembly>
		</assemblyBinding>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c"/>
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e"/>
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
