<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<!-- Castle.Windsor Component configuration -->
	<components>

		<!-- 
				Fluent ADO.NET : 컬럼명과 속성명에 대한 매핑을 수행하는 Component : 
				NameMappingUtil 에서 사용한다. AdoTool.ConvertAll<T>(), IAdoRepository.ExecuteReader<T>, IAdoRepository.ExecuteEntity에서 사용한다.
		-->
		<component id="Ado.PropertyNameMapper"
		           service="NSoft.NFramework.Data.Mappers.INameMapper, NSoft.NFramework.Data"
		           type="NSoft.NFramework.Data.Mappers.CapitalizeNameMapper, NSoft.NFramework.Data"
				   lifestyle="singleton" />


		<!-- SQL Server -->
		<component id="NorthwindAdoRepository.SqlServer"
		           service="NSoft.NFramework.Data.IAdoRepository, NSoft.NFramework.Data"
		           type="NSoft.NFramework.Data.SqlServer.SqlRepositoryImpl, NSoft.NFramework.Data"
				   lifestyle="singleton">
			<parameters>
				<!-- dbName을 설정하지 않으면 DAAB의 기본 DB 사용 -->
				<dbName>Northwind.SqlServer</dbName>
				<QueryProvider>${IniAdoQueryProvider.Northwind.SqlServer}</QueryProvider>
			</parameters>
		</component>

		<component id="PubsAdoRepository.SqlServer"
		           service="NSoft.NFramework.Data.IAdoRepository, NSoft.NFramework.Data"
		           type="NSoft.NFramework.Data.SqlServer.SqlRepositoryImpl, NSoft.NFramework.Data"
				   lifestyle="singleton">
			<parameters>
				<dbName>Pubs</dbName>
				<QueryProvider>${IniAdoQueryProvider.Pubs.SqlServer}</QueryProvider>
			</parameters>
		</component>

		<component id="IniAdoQueryProvider.Northwind.SqlServer"
		           service="NSoft.NFramework.Data.IIniQueryProvider, NSoft.NFramework.Data"
		           type="NSoft.NFramework.Data.QueryProviders.IniAdoQueryProvider, NSoft.NFramework.Data"
				   lifestyle="singleton">
			<parameters>
				<queryFilePath>.\QueryFiles\Northwind.Ado.MsSql.ini</queryFilePath>
			</parameters>
		</component>

		<component id="IniAdoQueryProvider.Pubs.SqlServer"
		           service="NSoft.NFramework.Data.IIniQueryProvider, NSoft.NFramework.Data"
		           type="NSoft.NFramework.Data.QueryProviders.IniAdoQueryProvider, NSoft.NFramework.Data"
				   lifestyle="singleton">
			<parameters>
				<queryFilePath>.\QueryFiles\Pubs.Ado.MsSql.ini</queryFilePath>
			</parameters>
		</component>

	</components>
</configuration>