<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<!-- Castle.Windsor Component configuration -->
	<components>

		<!-- PostgreSql -->
		<component id="NorthwindAdoRepository.PostgreSql"
		   service="NSoft.NFramework.Data.IAdoRepository, NSoft.NFramework.Data"
		   type="NSoft.NFramework.Data.PostgreSql.PostgreSqlRepositoryImpl, NSoft.NFramework.Data.PostgreSql"
		   lifestyle="singleton">
			<parameters>
				<!-- dbName을 설정하지 않으면 DAAB의 기본 DB 사용 -->
				<dbName>Northwind.PostgreSql</dbName>
				<QueryProvider>${IniAdoQueryProvider.Northwind.PostgreSql}</QueryProvider>
			</parameters>
		</component>

		<component id="IniAdoQueryProvider.Northwind.PostgreSql"
		   service="NSoft.NFramework.Data.IIniQueryProvider, NSoft.NFramework.Data"
		   type="NSoft.NFramework.Data.QueryProviders.IniAdoQueryProvider, NSoft.NFramework.Data"
		   lifestyle="singleton">
			<parameters>
				<queryFilePath>.\QueryFiles\Northwind.Ado.PostgreSql.ini</queryFilePath>
			</parameters>
		</component>
		
	</components>
</configuration>