<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<!-- Castle.Windsor Component configuration -->
	<components>

		<!-- MySql -->
		<component id="NorthwindAdoRepository.MySql"
		   service="NSoft.NFramework.Data.IAdoRepository, NSoft.NFramework.Data"
		   type="NSoft.NFramework.Data.MySql.MySqlRepositoryImpl, NSoft.NFramework.Data.MySql"
		   lifestyle="singleton">
			<parameters>
				<!-- dbName을 설정하지 않으면 DAAB의 기본 DB 사용 -->
				<dbName>Northwind.MySql</dbName>
				<QueryProvider>${IniAdoQueryProvider.Northwind.MySql}</QueryProvider>
			</parameters>
		</component>

		<component id="IniAdoQueryProvider.Northwind.MySql"
		   service="NSoft.NFramework.Data.IIniQueryProvider, NSoft.NFramework.Data"
		   type="NSoft.NFramework.Data.QueryProviders.IniAdoQueryProvider, NSoft.NFramework.Data"
		   lifestyle="singleton">
			<parameters>
				<queryFilePath>.\QueryFiles\Northwind.Ado.MySql.ini</queryFilePath>
			</parameters>
		</component>
		
	</components>
</configuration>