<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<!-- Castle.Windsor를 이용한 IoC 설정 -->
	<components>

		<component id="nhibernate.repository" service="NSoft.NFramework.Data.NHibernateEx.INHRepository`1, NSoft.NFramework.Data.NHibernateEx" type="NSoft.NFramework.Data.NHibernateEx.NHRepository`1, NSoft.NFramework.Data.NHibernateEx" />

		<component id="nhibernate.unitofwork.factory" service="NSoft.NFramework.Data.NHibernateEx.IUnitOfWorkFactory, NSoft.NFramework.Data.NHibernateEx" type="NSoft.NFramework.Data.NHibernateEx.NHUnitOfWorkFactory, NSoft.NFramework.Data.NHibernateEx" />
	</components>
</configuration>