<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseAppSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
		<sectionGroup name="applicationAppSettings" type="System.Configuration.ApplicationAppSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="NSoft.NFramework.DataServices.Properties.AppSettings" type="System.Configuration.ClientAppSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<!-- Database 관련 설정 : Local Test를 위해서 사용한다.-->
	<dataConfiguration defaultDatabase="Northwind"/>
	<connectionStrings>
		<add name="Northwind" connectionString="Data Source=(local);Initial Catalog=Northwind;Integrated Security=True;Asynchronous Processing=true;" providerName="System.Data.SqlClient"/>
		<add name="Pubs" connectionString="Data Source=(local);Initial Catalog=Pubs;Integrated Security=True;Asynchronous Processing=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
	<nlog>
		<include file="logging.nlog.xml"/>
	</nlog>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- Castle Version 변경에 따라 -->
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- NHibernate -->
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4"/>
				<bindingRedirect oldVersion="1.0.0.0-3.2.1.4000" newVersion="3.2.1.4000"/>
			</dependentAssembly>
		</assemblyBinding>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77"/>
				<bindingRedirect oldVersion="1.0.0.0-2.5.10.11092" newVersion="2.5.10.11092"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.serviceModel>

		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IDataService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:41110/Wcf/DataService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataService" contract="WcfDataService.IDataService" name="BasicHttpBinding_IDataService"/>
		</client>
	</system.serviceModel>
	<applicationAppSettings>
		<NFramework.DataServices.Properties.AppSettings>
			<setting name="NSoft.NFramework_DataServices_Test_WebDataService_DataService" serializeAs="String">
				<value>http://localhost:41110/WebServices/DataService.asmx</value>
			</setting>
		</NFramework.DataServices.Properties.AppSettings>
	</applicationAppSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
