<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<!-- Castle.Windsor Components -->
	<components>

		<!-- NSoft.NFramework.StringResources.dll의 NHResourceProvider 에서 사용  -->

		<component id="nhibernate.repository"
				   service="NSoft.NFramework.Data.NHibernateEx.INHRepository`1, NSoft.NFramework.Data.NHibernateEx"
				   type="NSoft.NFramework.Data.NHibernateEx.NHRepository`1, NSoft.NFramework.Data.NHibernateEx" />

		<!-- 전통적인 HBM 으로 작업할 시 -->
		<!--
		<component id="nhibernate.unit-of-work.factory"
				   service="NSoft.NFramework.Data.NHibernateEx.IUnitOfWorkFactory, NSoft.NFramework.Data.NHibernateEx"
				   type="NSoft.NFramework.Data.NHibernateEx.NHUnitOfWorkFactory, NSoft.NFramework.Data.NHibernateEx">
			<parameters>
				<cfgFileName>.\NHibernateConfigs\hibernate.resources.cfg.xml</cfgFileName>
			</parameters>
		</component>
		-->

		<component id="nhibernate.unit-of-work.factory"
				   service="NSoft.NFramework.Data.NHibernateEx.IUnitOfWorkFactory, NSoft.NFramework.Data.NHibernateEx"
				   type="NSoft.NFramework.Data.NHibernateEx.FluentNHUnitOfWorkFactory, NSoft.NFramework.Data.NHibernateEx">
			<parameters>
				<assemblyNames>
					<array>
						<item>NSoft.NFramework.StringResources</item>
					</array>
				</assemblyNames>
				<cfgFileName>.\NHibernateConfigs\hibernate.resources.cfg.xml</cfgFileName>
			</parameters>
		</component>

		<component id="ResourceRepository"
				   service="NSoft.NFramework.Data.NHibernateEx.INHRepository`1[[NSoft.NFramework.StringResources.NHibernate.NHResource, NSoft.NFramework.StringResources]], NSoft.NFramework.Data"
				   type="NSoft.NFramework.StringResources.NHibernate.NHResourceRepository, NSoft.NFramework.StringResources">
		</component>

	</components>
</configuration>