<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>

		<!-- Castle.Windsor for IoC -->
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>

		<!-- indexusNetSharedCache : http://www.sharedcache.com -->
		<section name="indexusNetSharedCache" type="SharedCache.WinServiceCommon.Configuration.Client.IndexusProviderSection, SharedCache.WinServiceCommon"/>

	</configSections>

	<appSettings>
		<!-- NHibernate에서 NLog를 logger로 사용할 경우 -->
		<add key="nhibernate-logger" value="NSoft.NFramework.Data.NHibernateEx.NLogFactory, NSoft.NFramework.Data.NHibernateEx"/>
	</appSettings>

	<dataConfiguration defaultDatabase="LOCAL_XE">
		<providerMappings>
			<add name="Devart.Data.Oracle" databaseType="NSoft.NFramework.Data.DevartOracle.EnterpriseLibrary.OracleProvider, NSoft.NFramework.Data.DevartOracle"/>
		</providerMappings>
	</dataConfiguration>

	<connectionStrings>
		<add name="LOCAL_XE" providerName="Devart.Data.Oracle" connectionString="User Id=REALWEB;Password=realweb21;Server=localhost;Sid=xe;Port=1521;Direct=true;Connection Timeout=30;Max Pool Size=150;Persist Security Info=True;"/>

		<add name="REALWEB" providerName="Devart.Data.Oracle" connectionString="User Id=REALWEB;Password=realweb21;Server=121.134.189.71;Sid=xe;Port=1521;Direct=true;Connection Timeout=30;Max Pool Size=150;Persist Security Info=True;"/>
	</connectionStrings>

	<!-- Castle Windsor IoC 를 사용합니다. -->
	<castle>
		<include uri="file://IoC.Testing.config"/>
	</castle>

	<nlog>
		<include file="logging.nlog.xml"/>
	</nlog>



	<!-- SharedCache -->
	<indexusNetSharedCache defaultProvider="IndexusSharedCacheProvider">
		<clientSetting SharedCacheVersionNumber="3.0.5.1" LoggingEnable="0" CompressionEnabled="0" CompressionMinSize="1024000" HashingAlgorithm="Hashing" SocketPoolMinAvailableSize="5" SocketPoolValidationInterval="00:02:00" SocketPoolTimeout="00:02:00"/>
		<!--
			LoggingEnabled=0 로, CompressionEnabled=0 으로 할 것!!!!
		-->
		<!--
			Hashing (default - is useless if your environment is using different versions of CLR's)
			Ketama
			FvnHash32
			FvnHash64
		-->

		<!-- Distributed Cacheing : 여러 서버가 정보를 분산 저장한다. -->
		<servers>
			<add key="localhost" ipaddress="127.0.0.1" port="48888"/>
			<!-- Distributed mode에서는 여기에, Replicated mode에서는 replicatedServers에 한번만 정의한다.-->
			<!--<add key="debop-64" ipaddress="121.134.189.70" port="48888" />-->
		</servers>
		<!-- Replication mode : 여러 서버가 같은 정보를 캐시한다. -->
		<replicatedServers>
			<!-- Replicated Mode 를 사용하려면 SharedCache 서버의 configuration 중 ServiceFamilyMode="1" 로 변경하면 된다 (모든 서버에) -->
			<!-- http://www.sharedcache.com/cms/replicated_caching.aspx -->
			<!-- localhost 이외의 것만 등록한다. -->
			<!--<add key="debop-64" ipaddress="121.134.189.70" port="48888"/>-->
		</replicatedServers>

		<providers>
			<add name="IndexusSharedCacheProvider" type="SharedCache.WinServiceCommon.Provider.Cache.IndexusSharedCacheProvider, SharedCache.WinServiceCommon"/>
		</providers>

	</indexusNetSharedCache>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- Castle Version 변경에 따라 -->
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Facilities.FactorySupport" publicKeyToken="407dd0808d44fbdc"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- NHibernate -->
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4"/>
				<bindingRedirect oldVersion="1.0.0.0-3.2.1.4000" newVersion="3.2.1.4000"/>
			</dependentAssembly>
		</assemblyBinding>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77"/>
				<bindingRedirect oldVersion="1.0.0.0-2.5.10.11092" newVersion="2.5.10.11092"/>
			</dependentAssembly>
		</assemblyBinding>

		<!-- 
			NOTE: NHibernate용 Devart.Data.Oracle Driver를 사용하기 꼭 정의해주어야 합니다!!! 
		-->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<qualifyAssembly partialName="Devart.Data.Oracle" fullName="Devart.Data.Oracle, Version=6.70.293.0, Culture=neutral, PublicKeyToken=09af7300eec23701"/>
		</assemblyBinding>

	</runtime>


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
