<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<!-- Castle.Windsor Property -->
	<properties>
		<Font>Verdana</Font>
	</properties>

	<!-- Castle.Windsor Component configuration -->
	<components>

		<!-- Reference type의 속성은 public setter를 가져야 합니다. -->
		<component id="FontAttribute.Base" 
				   type="NSoft.NFramework.FusionCharts.FontAttribute, NSoft.NFramework.FusionCharts" 
				   lifestyle="transient">
			<parameters>
				<Prefix>base</Prefix>
				<Font>#{Font}</Font>
				<IsBold>true</IsBold>
			</parameters>
		</component>
		<component id="FontAttribute.OutCnvBase"
				   type="NSoft.NFramework.FusionCharts.FontAttribute, NSoft.NFramework.FusionCharts"
				   lifestyle="transient">
			<parameters>
				<Prefix>outCnvBase</Prefix>
				<Font>#{Font}</Font>
				<IsBold>true</IsBold>
			</parameters>
		</component>

		<component id="SingleSeriesChart" 
				   service="NSoft.NFramework.FusionCharts.IChart, NSoft.NFramework.FusionCharts" 
				   type="NSoft.NFramework.FusionCharts.Charts.SingleSeriesChart, NSoft.NFramework.FusionCharts" 
				   lifestyle="transient">
			<parameters>
				<Palette>3</Palette>
				<RotateLabels>true</RotateLabels>
				<SlantLabels>true</SlantLabels>
				<!-- Reference type의 속성은 public setter를 가져야 합니다. -->
				<BaseFontAttr>${FontAttribute.Base}</BaseFontAttr>
				<OutCnvBaseFontAttr>${FontAttribute.OutCnvBase}</OutCnvBaseFontAttr>
			</parameters>
		</component>

		<component id="MultiSeriesChart"
				   service="NSoft.NFramework.FusionCharts.IChart, NSoft.NFramework.FusionCharts" 
				   type="NSoft.NFramework.FusionCharts.Charts.MultiSeriesChart, NSoft.NFramework.FusionCharts" 
				   lifestyle="transient">
			<parameters>
				<Palette>2</Palette>
				<RotateLabels>false</RotateLabels>
				<SlantLabels>true</SlantLabels>
			</parameters>
		</component>


	</components>
</configuration>