<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<!-- Castle.Windsor Component configuration -->
	<components>

		<component id="MongoRepository.Default" 
				   service="NSoft.NFramework.Data.MongoDB.IMongoRepository, NSoft.NFramework.Data.MongoDB" 
				   type="NSoft.NFramework.Data.MongoDB.MongoRepositoryImpl, NSoft.NFramework.Data.MongoDB" 
				   lifestyle="thread">
			<parameters>
				<connectionString>server=localhost;database=rcltest;safe=true;</connectionString>
			</parameters>
		</component>

		<component id="MongoRepository.NFramework.Cache" 
				   service="NSoft.NFramework.Data.MongoDB.IMongoRepository, NSoft.NFramework.Data.MongoDB" 
				   type="NSoft.NFramework.Data.MongoDB.MongoRepositoryImpl, NSoft.NFramework.Data.MongoDB"
				   lifestyle="thread">
			<parameters>
				<connectionString>server=localhost;database=rcltest;safe=true;</connectionString>
			</parameters>
		</component>

	</components>
</configuration>