<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<components>

        <!-- UnitOfWork 사용을 위한 Factory -->
        <component id="nhibernate.unit-of-work.factory"
		           service="NSoft.NFramework.Data.NHibernateEx.IUnitOfWorkFactory, NSoft.NFramework.Data.NHibernateEx"
		           type="NSoft.NFramework.Data.NHibernateEx.NHUnitOfWorkFactory, NSoft.NFramework.Data.NHibernateEx">
        </component>

        <!-- UnitOfWork 사용을 위한 Factory -->
        <component id="nhibernate.unit-of-work.factory.fluent"
		           service="NSoft.NFramework.Data.NHibernateEx.IUnitOfWorkFactory, NSoft.NFramework.Data.NHibernateEx"
		           type="NSoft.NFramework.Data.NHibernateEx.FluentNHUnitOfWorkFactory, NSoft.NFramework.Data.NHibernateEx">
        </component>	

	</components>

</configuration>