<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<!-- Castle.Windsor Component configuration -->
	<components>

		<component id="RavenRepository.Default" 
				   service="NSoft.NFramework.Data.RavenDB.IRavenRepository, NSoft.NFramework.Data.RavenDB" 
				   type="NSoft.NFramework.Data.RavenDB.RavenRepositoryImpl, NSoft.NFramework.Data.RavenDB" 
				   lifestyle="thread">
			<parameters>
				<connectionString>server=localhost;database=rcltest;safe=true;</connectionString>
			</parameters>
		</component>

		<component id="RavenRepository.Cache" 
				   service="NSoft.NFramework.Data.RavenDB.IRavenRepository, NSoft.NFramework.Data.RavenDB" 
				   type="NSoft.NFramework.Data.RavenDB.RavenRepositoryImpl, NSoft.NFramework.Data.RavenDB"
				   lifestyle="thread">
			<parameters>
				<connectionString>server=localhost;database=rcltest;safe=true;</connectionString>
			</parameters>
		</component>

	</components>
</configuration>