<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
		<sectionGroup name="enyim.com">
			<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
		</sectionGroup>
		
		<!-- indexusNetSharedCache : http://www.sharedcache.com -->
		<section name="indexusNetSharedCache" type="SharedCache.WinServiceCommon.Configuration.Client.IndexusProviderSection, SharedCache.WinServiceCommon"/>
		
		<section name="memcachedCache" type="NSoft.NFramework.Caching.Memcached.NHCaches.MemcachedCacheSectionHandler, NSoft.NFramework.Caching.Memcached"/>
		<section name="sharedCache" type="NSoft.NFramework.Caching.SharedCache.NHCaches.SharedCacheSectionHandler, NSoft.NFramework.Caching.SharedCache"/>
	
	</configSections>

	<nlog autoReload="true">
		<include file="logging.nlog.xml"/>
	</nlog>

	<!-- 참고: https://github.com/enyim/EnyimMemcached/wiki/MemcachedClient-Configuration -->
	<enyim.com>
		<memcached protocol="Binary">
			<servers>
				<add address="127.0.0.1" port="11211"/>
			</servers>
			<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00"/>
		</memcached>
	</enyim.com>

	<memcachedCache>
		<!-- 
			Membase를 캐시 저장소로 사용할 때,
			region : 여러 캐시 관리자를 만들 수 있음
			expiration: 캐시 저장 값의 유효기간 (TimeSpan 형식)
			compressThreshold: 캐시 값의 압축 저장의 최소 크기 (단위: bytes)
		-->
		<cache region="nframework" expiration="00:01:00" compressThreshold="40960"/>
	</memcachedCache>
	
		<!-- SharedCache -->
	<indexusNetSharedCache defaultProvider="IndexusSharedCacheProvider">
		<clientSetting SharedCacheVersionNumber="3.0.5.1" LoggingEnable="0" CompressionEnabled="1" CompressionMinSize="204800" HashingAlgorithm="Hashing" SocketPoolMinAvailableSize="5" SocketPoolValidationInterval="00:02:00" SocketPoolTimeout="00:02:00"/>
		<!--
			LoggingEnabled=0 로, CompressionEnabled=0 으로 할 것!!!!
		-->
		<!--
			Hashing (default - is useless if your environment is using different versions of CLR's)
			Ketama
			FvnHash32
			FvnHash64
		-->

		<!-- Distributed Cacheing : 여러 서버가 정보를 분산 저장한다. -->
		<servers>
			<add key="localhost" ipaddress="127.0.0.1" port="48888"/>
			<!--<add key="debop-64" ipaddress="121.134.189.70" port="48888" />-->
		</servers>

		<!-- Replication mode : 여러 서버가 같은 정보를 캐시한다. -->
		<replicatedServers>
			<!-- Replication mode 일때만 정의해야 합니다.-->
			<!--<add key="debop-64" ipaddress="121.134.189.71" port="48888"/>-->
		</replicatedServers>

		<providers>
			<add name="IndexusSharedCacheProvider" type="SharedCache.WinServiceCommon.Provider.Cache.IndexusSharedCacheProvider, SharedCache.WinServiceCommon"/>
		</providers>

	</indexusNetSharedCache>

	<sharedCache>
		<!-- 
			SharedCache를 캐시 저장소로 사용할 때,
			region : 여러 캐시 관리자를 만들 수 있음
			expiration: 캐시 저장 값의 유효기간 (TimeSpan 형식)
			compressThreshold: 캐시 값의 압축 저장의 최소 크기 (단위: bytes)
		-->
		<cache region="nframework" expiration="00:30:00" compressThreshold="40960"/>
		<cache region="nframework2" expiration="00:30:00" compressThreshold="40960"/>
	</sharedCache>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- Castle Version 변경에 따라 -->
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>

			<!-- NHibernate -->
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4"/>
				<bindingRedirect oldVersion="1.0.0.0-3.2.1.4000" newVersion="3.2.1.4000"/>
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77"/>
				<bindingRedirect oldVersion="1.0.0.0-2.5.10.11092" newVersion="2.5.10.11092"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
