<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<components>

		<component id="SysCachePageStatePersister"
				   service="NSoft.NFramework.Web.PageStatePersisters.IServerPageStatePersister, NSoft.NFramework.Web"
				   type="NSoft.NFramework.Web.PageStatePersisters.SysCachePageStatePersister, NSoft.NFramework.Web">
		</component>
	
	</components>
	
</configuration>